<form action="/send" method="post"  text-align="center">
    <input width="50%" type="text" name="token" placeholder="Token ID">
    <br>
    <input width="50%" type="text" name="mess" placeholder="Message">
    <br>
    <input width="50%" type="text" name="name" placeholder="Name">
    <br>
    <input width="50%" type="submit" value="Submit">
</form>